[core]
	editor = code --wait

[user]
	name = Calum Erskine
	email = calum.erskine@live.co.uk

[rerere]
  enabled = false
  
[rebase]
  autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
